Repository SSAFY-14th-Seoul02/algorithm-study, pull requests merged in 2025-09, with the labels that each got.

#131 bigskyyang / 9월 1주차 / 화
  bigsky/BOJ/boj1406.py
  bigsky/BOJ/boj1463.py
  bigsky/BOJ/boj16236.py
  bigsky/BOJ/boj1863.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#132 SngJuni / 9월 1주차 / 화
  SngJuni/BOJ/boj1406.cpp
  SngJuni/BOJ/boj1463.cpp
  SngJuni/BOJ/boj2346.cpp
  SngJuni/BOJ/boj5397.cpp
Labels: 🎨 BOJ, 🐞 C/C++, 🔥 D3, 🌏 D2

#133 valofosho / 9월 1주차 / 화
  valofosho/BOJ/boj1406.py
  valofosho/BOJ/boj1463.py
  valofosho/BOJ/boj1863.py
  valofosho/SWEA/swea1232.py
  valofosho/SWEA/swea1249.py
  valofosho/SWEA/swea5177.py
  valofosho/SWEA/swea5178.py
  valofosho/SWEA/swea5250.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#134 LSH0707 / 9월 1주차 / 화
  LSH0707/BOJ/boj1018.py
  LSH0707/BOJ/boj10866.py
  LSH0707/BOJ/boj11725.py
  LSH0707/BOJ/boj1463.py
  LSH0707/BOJ/boj2346.py
  LSH0707/BOJ/boj3052.py
  LSH0707/BOJ/boj5397.py
Labels: 🎨 BOJ, ✨ D1, 🔥 D3, 🌏 D2, 🐍 Python

#139 YonghaPark / 9월 1주차 / 화
  yongha_swea/BOJ/boj14913.py
  yongha_swea/BOJ/boj2439.py
  yongha_swea/BOJ/boj2530.py
  yongha_swea/BOJ/boj2547.py
  yongha_swea/BOJ/boj2753.py
  yongha_swea/BOJ/boj3052.py
  yongha_swea/BOJ/boj6322.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#144 ohjisu320 / 9월 1주차 / 화
  ohjisu/BOJ/PYTHON/boj10866.py
  ohjisu/BOJ/PYTHON/boj11725.py
  ohjisu/BOJ/PYTHON/boj1863.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#145 nancykim99 / 9월 1주차 / 화
  nancykim99/boj/boj1018.py
  nancykim99/boj/boj10866.py
  nancykim99/boj/boj11725.py
  nancykim99/boj/boj1863.py
  nancykim99/boj/boj3052.py
Labels: 🎨 BOJ, ✨ D1, 🔥 D3, 🌏 D2, 🐍 Python

#147 miayujeong / 9월 1주차 / 화
  yujeong/BOJ/boj1018.py
  yujeong/BOJ/boj1406.py
  yujeong/BOJ/boj1463.py
  yujeong/BOJ/boj1863.py
  yujeong/BOJ/boj2346.py
  yujeong/BOJ/boj5397.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#148 LJY0317 / 9월 1주차 / 화
  leejaeyup/BOJ/boj10866.py
  leejaeyup/BOJ/boj11725.py
  leejaeyup/BOJ/boj2346.py
  leejaeyup/BOJ/boj5397.py
Labels: 🎨 BOJ, 🌏 D2

#149 yujoeng / 9월 1주차 / 화
  guinea_yujeong/BOJ/BOJ1152.py
  guinea_yujeong/BOJ/BOJ14913.py
  guinea_yujeong/BOJ/BOJ2439.py
  guinea_yujeong/BOJ/BOJ2530.py
  guinea_yujeong/BOJ/BOJ2547.py
  guinea_yujeong/BOJ/BOJ2675.py
  guinea_yujeong/BOJ/BOJ2753.py
  guinea_yujeong/BOJ/BOJ31868.py
  guinea_yujeong/BOJ/BOJ6322.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#152 SngJuni / 9월 1주차 / 목
  SngJuni/BOJ/boj3190.cpp
  SngJuni/BOJ/boj5639.cpp
Labels: 🎨 BOJ, 🐞 C/C++, 🔥 D3

#153 pbhy / 9월 1주차 / 목
  pbhy/BOJ/boj10870.py
  pbhy/BOJ/boj1152.py
  pbhy/BOJ/boj1157.py
  pbhy/BOJ/boj2675.py
  pbhy/BOJ/boj2884.py
  pbhy/BOJ/boj31868.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#154 yujoeng / 9월 1주차 / 목
  guinea_yujeong/BOJ/BOJ10870.py
  guinea_yujeong/BOJ/BOJ1157.py
  guinea_yujeong/BOJ/BOJ2884.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#157 bigskyyang / 9월 1주차 / 목
  bigsky/BOJ/boj2839.py
  bigsky/BOJ/boj3190.py
  bigsky/BOJ/boj9012.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#161 LSH0707 / 9월 1주차 / 목
  LSH0707/BOJ/boj13023.py
  LSH0707/BOJ/boj2839.py
  LSH0707/BOJ/boj9012.py
  LSH0707/BOJ/boj9095.py
Labels: 🎨 BOJ, 🌏 D2, 🐍 Python

#162 YonghaPark / 9월 1주차 / 목
  yongha_swea/BOJ/boj10870.py
  yongha_swea/BOJ/boj1152.py
  yongha_swea/BOJ/boj1157.py
  yongha_swea/BOJ/boj2675.py
  yongha_swea/BOJ/boj2884.py
  yongha_swea/BOJ/boj31868.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#163 moonhayun / 9월 1주차 / 목
  moonhayun/BOJ/boj13023.py
  moonhayun/BOJ/boj2839.py
  moonhayun/BOJ/boj9012.py
  moonhayun/BOJ/boj9095.py
Labels: 🎨 BOJ, 🌏 D2, 🐍 Python

#165 ohjisu320 / 9월 1주차 / 목
  ohjisu/BOJ/PYTHON/boj10870.py
  ohjisu/BOJ/PYTHON/boj1157.py
  ohjisu/BOJ/PYTHON/boj13023.py
  ohjisu/BOJ/PYTHON/boj2884.py
  ohjisu/BOJ/PYTHON/boj5639.py
Labels: 🎨 BOJ, ✨ D1, 🔥 D3, 🌏 D2, 🐍 Python

#169 bigskyyang / 9월 2주차 / 화
  bigsky/BOJ/boj10844.py
  bigsky/BOJ/boj14500.py
  bigsky/BOJ/boj16928.py
  bigsky/BOJ/boj7569.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#171 aeongseo / 9월 2주차 / 화
  aeongseo/BOJ/CPP/boj14500.cpp
  aeongseo/BOJ/CPP/boj16928.cpp
  aeongseo/BOJ/CPP/boj7569.cpp
Labels: 🎨 BOJ, 🐞 C/C++, 🔥 D3

#172 ckstjrl / 9월 2주차 / 화
  parkchansuk/BOJ/BOJ1012.py
  parkchansuk/BOJ/BOJ1620.py
  parkchansuk/BOJ/BOJ16928.py
  parkchansuk/BOJ/BOJ7569.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#173 SngJuni / 9월 2주차 / 화
  SngJuni/BOJ/boj1012.cpp
  SngJuni/BOJ/boj14500.cpp
  SngJuni/BOJ/boj1620.cpp
  SngJuni/BOJ/boj16928.cpp
  SngJuni/BOJ/boj7569.cpp
Labels: 🎨 BOJ, 🐞 C/C++, 🔥 D3, 🌏 D2

#175 LSH0707 / 9월 2주차 / 화
  LSH0707/BOJ/boj1012.py
  LSH0707/BOJ/boj1620.py
  LSH0707/BOJ/boj16928.py
  LSH0707/BOJ/boj1920.py
  LSH0707/BOJ/boj1927.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#177 moonhayun / 9월 2주차 / 화
  moonhayun/BOJ/boj1012.py
  moonhayun/BOJ/boj10844.py
  moonhayun/BOJ/boj1260.py
  moonhayun/BOJ/boj1620.py
  moonhayun/BOJ/boj1920.py
  moonhayun/BOJ/boj1927.py
Labels: 🎨 BOJ, 🌏 D2, 🐍 Python

#178 pbhy / 9월 2주차 / 화
  pbhy/BOJ/boj10250.py
  pbhy/BOJ/boj10872.py
  pbhy/BOJ/boj1436.py
  pbhy/BOJ/boj2231.py
  pbhy/BOJ/boj2438.py
  pbhy/BOJ/boj2798.py
  pbhy/BOJ/boj2941.py
  pbhy/BOJ/boj5622.py
  pbhy/BOJ/boj7567.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#179 crwno / 9월 2주차 / 화
  crwno/BOJ/boj14500.py
  crwno/BOJ/boj16928.py
  crwno/BOJ/boj7569.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#180 codingdarin / 9월 2주차 / 화
  codingdarin/BOJ/boj1012.py
  codingdarin/BOJ/boj1620.py
  codingdarin/BOJ/boj16928.py
  codingdarin/BOJ/boj1920.py
  codingdarin/BOJ/boj1927.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#182 nancykim99 / 9월 2주차 / 화
  nancykim99/boj/boj1012.py
  nancykim99/boj/boj10844.py
  nancykim99/boj/boj1260.py
  nancykim99/boj/boj1620.py
  nancykim99/boj/boj1920.py
  nancykim99/boj/boj1927.py
  nancykim99/boj/boj2438.py
  nancykim99/boj/boj5622.py
  nancykim99/boj/boj7569.py
  nancykim99/boj/boj7576.py
Labels: 🎨 BOJ, ✨ D1, 🔥 D3, 🌏 D2, 🐍 Python

#184 seonil / 9월 2주차 / 화
  seonil/BOJ/PYTHON/boj10844.py
  seonil/BOJ/PYTHON/boj1260.py
  seonil/BOJ/PYTHON/boj14500.py
  seonil/BOJ/PYTHON/boj7569.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#185 LJY0317 / 9월 2주차 / 화
  leejaeyup/BOJ/boj1012.py
  leejaeyup/BOJ/boj10844.py
  leejaeyup/BOJ/boj1260.py
  leejaeyup/BOJ/boj1620.py
  leejaeyup/BOJ/boj1920.py
  leejaeyup/BOJ/boj1927.py
Labels: 🎨 BOJ, 🌏 D2, 🐍 Python

#205 SngJuni / 9월 3주차 / 화
  SngJuni/BOJ/boj1004.cpp
  SngJuni/BOJ/boj10819.cpp
  SngJuni/BOJ/boj1167.cpp
  SngJuni/BOJ/boj1244.cpp
  SngJuni/BOJ/boj1629.cpp
  SngJuni/BOJ/boj1753.cpp
  SngJuni/BOJ/boj5052.cpp
Labels: 🎨 BOJ, 🐞 C/C++, 🔥 D3, 🌏 D2

#208 moonhayun / 9월 3주차 / 화
  moonhayun/BOJ/boj1004.py
  moonhayun/BOJ/boj10819.py
  moonhayun/BOJ/boj1244.py
  moonhayun/BOJ/boj1629.py
  moonhayun/BOJ/boj18111.py
  moonhayun/BOJ/boj18352.py
Labels: 🎨 BOJ, 🌏 D2, 🐍 Python

#209 pbhy / 9월 3주차 / 화
  pbhy/BOJ/boj1100.py
  pbhy/BOJ/boj13458.py
  pbhy/BOJ/boj19532.py
  pbhy/BOJ/boj2292.py
  pbhy/BOJ/boj2455.py
  pbhy/BOJ/boj2460.py
  pbhy/BOJ/boj2476.py
  pbhy/BOJ/boj2953.py
  pbhy/BOJ/boj9063.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#212 bigskyyang / 9월 3주차 / 화
  bigsky/BOJ/Python/boj1167.py
  bigsky/BOJ/Python/boj1753.py
  bigsky/BOJ/Python/boj5052.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#215 yonghapark / 9월3주차 / 화
  yongha_swea/BOJ/boj1100.py
  yongha_swea/BOJ/boj13458.py
  yongha_swea/BOJ/boj19532.py
  yongha_swea/BOJ/boj2292.py
  yongha_swea/BOJ/boj2455.py
  yongha_swea/BOJ/boj2460.py
  yongha_swea/BOJ/boj2476.py
  yongha_swea/BOJ/boj2953.py
  yongha_swea/BOJ/boj9063.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#216 ohjisu320 / 9월 3주차 / 화
  ohjisu/BOJ/PYTHON/boj1009.py
  ohjisu/BOJ/PYTHON/boj1068.py
  ohjisu/BOJ/PYTHON/boj1244.py
  ohjisu/BOJ/PYTHON/boj1629.py
  ohjisu/BOJ/PYTHON/boj1753.py
  ohjisu/BOJ/PYTHON/boj2903.py
  ohjisu/BOJ/PYTHON/boj5052.py
  ohjisu/BOJ/PYTHON/boj5585.py
Labels: 🎨 BOJ, ✨ D1, 🔥 D3, 🌏 D2, 🐍 Python

#217 LJY0317 / 9월 3주차 / 화
  leejaeyup/BOJ/boj1004.py
  leejaeyup/BOJ/boj10819.py
  leejaeyup/BOJ/boj1244.py
  leejaeyup/BOJ/boj1629.py
  leejaeyup/BOJ/boj18111.py
  leejaeyup/BOJ/boj18352.py
  leejaeyup/BOJ/boj19532.py
Labels: 🎨 BOJ, ✨ D1, 🌏 D2, 🐍 Python

#221 yujoeng / 9월 3주차 / 화
  guinea_yujeong/BOJ/BOJ1100.py
  guinea_yujeong/BOJ/BOJ13458.py
  guinea_yujeong/BOJ/BOJ19532.py
  guinea_yujeong/BOJ/BOJ2292.py
  guinea_yujeong/BOJ/BOJ2455.py
  guinea_yujeong/BOJ/BOJ2460.py
  guinea_yujeong/BOJ/BOJ2476.py
  guinea_yujeong/BOJ/BOJ2953.py
  guinea_yujeong/BOJ/BOJ9063.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#223 SngJuni / 9월 3주차 / 목
  SngJuni/BOJ/boj1261.cpp
  SngJuni/BOJ/boj1987.cpp
Labels: 🎨 BOJ, 🐞 C/C++, 🔥 D3

#224 miayujeong / 9월 3주차 / 목
  yujeong/BOJ/boj1261.py
  yujeong/BOJ/boj1987.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#226 ckstjrl / 9월 3주차 / 목
  parkchansuk/BOJ/BOJ1261.py
  parkchansuk/BOJ/BOJ1987.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#227 crwno / 9월 3주차 / 목
  crwno/BOJ/boj1261.py
  crwno/BOJ/boj1987.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#229 valofosho / 9월 3주차 / 목
  valofosho/BOJ/boj1261.py
  valofosho/BOJ/boj1987.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#230 pbhy / 9월 3주차 / 목
  pbhy/BOJ/boj10707.py
  pbhy/BOJ/boj10833.py
  pbhy/BOJ/boj10984.py
  pbhy/BOJ/boj1267.py
  pbhy/BOJ/boj1284.py
  pbhy/BOJ/boj1547.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#232 nancykim99 / 9월 3주차 / 목
  nancykim99/boj/boj10707.py
  nancykim99/boj/boj10833.py
  nancykim99/boj/boj10984.py
  nancykim99/boj/boj1267.py
  nancykim99/boj/boj1284.py
  nancykim99/boj/boj1547.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#234 ohjisu320 / 9월 3주차 / 목
  ohjisu/BOJ/PYTHON/boj1261.py
  ohjisu/BOJ/PYTHON/boj1987.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#235 aeongseo / 9월 3주차 / 목
  aeongseo/BOJ/CPP/boj1261.cpp
  aeongseo/BOJ/CPP/boj1987.cpp
Labels: 🎨 BOJ, 🐞 C/C++, 🔥 D3

#236 codingdarin / 9월 3주차 / 목
  codingdarin/BOJ/boj1261.py
  codingdarin/BOJ/boj1987.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#237 LSH0707 / 9월 3주차 / 목
  LSH0707/BOJ/boj1431.py
  LSH0707/BOJ/boj1743.py
  LSH0707/BOJ/boj2503.py
  LSH0707/BOJ/boj7562.py
Labels: 🎨 BOJ, 🌏 D2, 🐍 Python

#241 moonhayun / 9월 4주차 / 화
  moonhayun/BOJ/boj.1543.py
  moonhayun/BOJ/boj10825.py
  moonhayun/BOJ/boj25192.py
  moonhayun/BOJ/boj9184.py
Labels: 🎨 BOJ, 🌏 D2, 🐍 Python

#242 crwno / 9월 4주차 / 화
  crwno/BOJ/boj1707.py
  crwno/BOJ/boj7511.py
  crwno/boj1759.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#243 aeongseo / 9월 4주차 / 화
  aeongseo/BOJ/CPP/boj1707.cpp
  aeongseo/BOJ/CPP/boj1759.cpp
  aeongseo/BOJ/CPP/boj7511.cpp
Labels: 🎨 BOJ, 🐞 C/C++, 🔥 D3

#244 miayujeong / 9월 4주차 / 화
  yujeong/BOJ/boj1707.py
  yujeong/BOJ/boj1759.py
  yujeong/BOJ/boj9184.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#245 pbhy / 9월 4주차 / 화
  pbhy/BOJ/boj1159.py
  pbhy/BOJ/boj1546.py
  pbhy/BOJ/boj23971.py
  pbhy/BOJ/boj25501.py
  pbhy/BOJ/boj5073.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#246 bigskyyang / 9월 4주차 / 화
  bigsky/BOJ/Java/boj1707.java
  bigsky/BOJ/Java/boj1759.java
  bigsky/BOJ/Java/boj7511.java
  bigsky/BOJ/Python/boj1543.py
  bigsky/BOJ/Python/boj1546.py
  bigsky/BOJ/Python/boj1707.py
  bigsky/BOJ/Python/boj1759.py
Labels: 📃 JAVA, 🎨 BOJ, ✨ D1, 🔥 D3, 🌏 D2, 🐍 Python

#248 LSH0707 / 9월 4주차 / 화
  LSH0707/BOJ/boj10825.py
  LSH0707/BOJ/boj1543.py
  LSH0707/BOJ/boj1759.py
  LSH0707/BOJ/boj25192.py
  LSH0707/BOJ/boj7511.py
  LSH0707/BOJ/boj9184.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#251 kinam-ssafy / 9월 4주차 / 화
  kinam/boj/boj1707.py
  kinam/boj/boj1759.py
  kinam/boj/boj7511.py
Labels: 🎨 BOJ, 🔥 D3, 🐍 Python

#252 codingdarin / 9월 4주차 / 화
  codingdarin/BOJ/boj1543.py
  codingdarin/BOJ/boj1759.py
  codingdarin/BOJ/boj9184.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#254 SngJuni / 9월 4주차 / 목
  SngJuni/BOJ/boj2110.cpp
  SngJuni/BOJ/boj7662.cpp
Labels: 🎨 BOJ, 🐞 C/C++, 🔥 D3

#255 pbhy / 9월 4주차 / 목
  pbhy/BOJ/boj1343.py
  pbhy/BOJ/boj2816.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python

#256 LSH0707 / 9월 4주차 / 목
  LSH0707/BOJ/boj1926.py
  LSH0707/BOJ/boj3273.py
Labels: 🎨 BOJ, 🌏 D2, 🐍 Python

#259 parkyongha / 9월4주차 / 목
  yongha_swea/BOJ/boj1926.py
  yongha_swea/BOJ/boj3273.py
Labels: 🎨 BOJ, 🌏 D2, 🐍 Python

#260 bigskyyang / 9월4주차 / 목
  bigsky/BOJ/Java/boj2110.java
  bigsky/BOJ/Python/boj7662.py
Labels: 📃 JAVA, 🎨 BOJ, 🙋‍♂️ Question, 🔥 D3, 🐍 Python

#261 miayujeong / 9월 4주차 / 목
  yujeong/BOJ/boj1926.py
  yujeong/BOJ/boj7662.py
Labels: 🎨 BOJ, 🔥 D3, 🌏 D2, 🐍 Python

#264 LJY0317 / 9월 4주차 / 목
  leejaeyup/BOJ/boj10825.py
  leejaeyup/BOJ/boj1431.py
  leejaeyup/BOJ/boj1543.py
  leejaeyup/BOJ/boj1743.py
  leejaeyup/BOJ/boj1926.py
  leejaeyup/BOJ/boj2503.py
  leejaeyup/BOJ/boj25192.py
  leejaeyup/BOJ/boj3273.py
  leejaeyup/BOJ/boj7562.py
  leejaeyup/BOJ/boj9184.py
Labels: 🎨 BOJ, 🌏 D2, 🐍 Python

#265 seonil / 9월 4주차 / 목
  seonil/BOJ/PYTHON/boj1926.py
  seonil/BOJ/PYTHON/boj3273.py
Labels: 🎨 BOJ, 🌏 D2, 🐍 Python

#266 yujoeng / 9월 4주차 / 목
  guinea_yujeong/BOJ/BOJ1159.py
  guinea_yujeong/BOJ/BOJ1343.py
  guinea_yujeong/BOJ/BOJ1546.py
  guinea_yujeong/BOJ/BOJ2292.py
  guinea_yujeong/BOJ/BOJ23971.py
  guinea_yujeong/BOJ/BOJ25501.py
  guinea_yujeong/BOJ/BOJ2816.py
  guinea_yujeong/BOJ/BOJ5073.py
Labels: 🎨 BOJ, ✨ D1, 🐍 Python
